/* DEFAULTS
----------------------------------------------------------*/
body 
{
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.login-form-dd 
{
    padding: 10px;
    text-align: center;
}

.login-form-dd .login-field 
{
    width: 250px;
}

.login-form-dd input[type="checkbox"]
{
    /*margin-left: 60px;*/
    float: none;
}

.login-form-dd button
{
    margin: auto;
}

