/* DEFAULTS
----------------------------------------------------------*/
body 
{
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.login-form-dd 
{
    padding: 10px;
    text-align: center;
}

.login-form-dd .login-field 
{
    width: 250px;
}

.login-form-dd input[type="checkbox"]
{
    /*margin-left: 60px;*/
    float: none;
}

.login-form-dd button
{
    margin: auto;
}

/* Footer
-------------------------------------------------- */

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.profile-list-img 
{
    
}

.profile-img img
{
    width: 140px;
    height: 140px;
}

.profile-img .label 
{
    position:absolute;
	margin-top: -23px;
	margin-left: 5px;
}

/* MessageDetail
-------------------------------------------------- */


/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      margin-top: -20px;
    }

    .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .carousel-control {
      background-color: transparent;
      border: 0;
      font-size: 120px;
      margin-top: 0;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-bottom: 100px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    
    /* CV */
    .rating_star  
    {  
        font-size: 0pt;  
        width:20px;  
        height: 20px;  
        margin: 5px;  
        padding: 0px;  
        cursor: pointer;  
        display: block;  
        background-repeat: no-repeat;  
        float:left;
    }  
    .rating_filled   
    {  
        background-color: Yellow;  
    }  
    .rating_empty   
    {  
        background-color: Gray;  
    }  
